.container {
    widows: 1400px;
}

.logo img {
    width: 1500px;
    margin-bottom: 13rem;
    display: block;
    position: relative;
    right: 550px;
}

.box {
    padding: 20px;
    background: #000;
}

.box-gray {
    padding: 20px;
    background: #292929;
}

.box-lightgray {
    padding: 20px;
    background: #4d4d4d;
}

.box-pink {
    padding: 20px;
    background: #ffcd94;
}

.box-darkpink {
    padding: 20px;
    background: #eac086;
}

.box-darkred {
    padding: 20px;
    background: #7a0000;
}

.box-red {
    padding: 20px;
    background: red;
}

.box-azure {
    padding: 20px;
    background: aqua;
}

.box-orange {
    padding: 20px;
    background: #ffbe19;
}

.box-yellow {
    padding: 20px;
    background: yellow;
}



.col-1 {
    width: calc(100% / 16);
}

.col-2 {
    width: calc((100% / 16) * 2);
}


.col-3 {
    width: calc((100% / 16) * 3);
}

.col-4 {
    width: calc((100% / 16) * 4);
}

.col-5 {
    width: calc((100% / 16) * 5);
}

.col-6 {
    width: calc((100% / 16) * 6);
}

.col-7 {
    width: calc((100% / 16) * 7);
}

.col-8 {
    width: calc((100% / 16) * 8);
}

.col-9 {
    width: calc((100% / 16) * 9);
}

.col-10 {
    width: calc((100% / 16) * 10);
}

.col-11 {
    width: calc((100% / 16) * 11);
}

.col-12 {
    width: 100%;
}


/* OFFSET */
.offset-1 {
    margin-left: calc(100% / 16);
}

.offset-2 {
    margin-left: calc((100% / 16) * 2);
}

.offset-3 {
    margin-left: calc((100% / 16) * 3);
}

.offset-4 {
    margin-left: calc((100% / 16) * 4);
}

.offset-5 {
    margin-left: calc((100% / 16) * 5);
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: calc((100% / 16) * 7);
}

.offset-8 {
    margin-left: calc((100% / 16) * 8);
}

.offset-9 {
    margin-left: calc((100% / 16) * 9);
}

.offset-10 {
    margin-left: calc((100% / 16) * 10);
}

.offset-11 {
    margin-left: calc((100% / 16) * 11);
}

.offset-12 {
    margin-left: 100%;
}


